/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.repl*
resources/public/js/out
resources/public/js/ankha.js
examples/a/out
examples/a/ankha.js
examples/a/ankha.js.map
